.home-bg{
    width:85%;
    /* margin-top:87 px !important; */
    /* margin-left: 450px !important; */
    /* padding: 20px;
    background-color:#f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 87vh; */
}
.home-bg h3{
    font-weight: bolder;
    /* margin-left: 250px !important; */
}